.btn-group-lg>.btn, .btn-lg {
	float: right;
}

.container .jumbotron, .container-fluid .jumbotron{
	color: #fff;
	background-image: url('img/negativespace.jpg');
	background-position: 75% 40%;
	padding-bottom: 80px;
	padding-right: 350px;
}

#page-content-wrapper{
	background-color: #DCDCDC;
}